{% extends 'base.html' %}

{% block title %}
    <title>View details</title>
{% endblock title %}

{% block content %}

<h1>Product n°{{ product.id }}</h1>
<div>
    <p>Product: {{ product.text}}</p>
    <p>Price: {{ product.price}}</p>
    <p>Quantity: {{ product.quantity}}</p>
    <img src="{{ product.image }}" alt="img" class="w-25"/>
</div>


<div class="d-flex justify-content-around">
    <a href="{% url 'shop:buy' product.id %}"><button class="btn btn-outline-success">Buy 1 item</button></a>
    <a href="{% url 'shop:index' %}"><button class="btn btn-outline-primary">Return home</button></a>
</div>

{% endblock%}
