{% extends 'base.html' %}

{% block title %}
    <title>Edit product</title>
{% endblock title %}

{% block content %}
  <h1 class="mt-5">Edit product n°{{ product.id }}</h1>

  <form method="POST" class="mt-5">
      {% csrf_token %} 
      {{ form }}
      <div class="d-flex justify-content-around mt-3">
        <button type="submit" class="btn btn-outline-success">Confirm</button>
        <a href="{% url 'shop:index' %}"><button class="btn btn-outline-primary">Return home</button></a>
    </div>

  </form>



{% endblock%}
